<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12">
            <form name="paymentOrderEditForm" class="form-horizontal form-validation">
                <input type="hidden" ng-model="paymentOrder.id" />
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <strong>修改支付订单</strong>
                    </div>
                    <div class="panel-body pb0">
							<div class="form-group">
	                            <label class="col-sm-3 control-label">数据ID：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.dataId" type="number"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">应用域：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.domain" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">支付单号：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.paymentNo" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">第三方支付单号：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.thirdPaymentNo" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">金额：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.amount" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">部分支付的金额，支付宝转账方式用户具体转账的金额不可控，因此加入该字段记录：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.partAmount" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">支付方式：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.type" type="number"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">支付宝账号：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.alipayAccount" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">支付状态：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.state" type="number"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">发布人ID：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.publisherId" type="number"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">创建时间：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.createTime" type="text" ng-pattern="/^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$/" placeholder="日期格式为：yyyy-MM-dd HH:mm:ss" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">更新时间：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="paymentOrder.updateTime" type="text" ng-pattern="/^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$/" placeholder="日期格式为：yyyy-MM-dd HH:mm:ss" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
                    </div>
                    <footer class="panel-footer text-right">
                        <button ng-click="requestPaymentOrderEdit(paymentOrderEditForm.$valid);" type="submit" class="btn btn-success">保存</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>