<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12">
            <form name="withdrawalsOrderAddForm" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <strong>添加提现订单</strong>
                    </div>
                    <div class="panel-body pb0">
							<div class="form-group">
	                            <label class="col-sm-3 control-label">数据id：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.dataId" type="number"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">应用域：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.domain" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">提现单号：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.withdrawalsNo" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">第三方单号：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.thirdWithdrawalsNo" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">请求第三方代扣响应码：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.thirdRespCode" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">请求第三方代扣响应提示：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.thirdRespMsg" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">金额：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.amount" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">提现状态：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.state" type="number"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">姓名：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.name" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">身份证号：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.idCard" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">银行卡号：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.bankCard" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">发布人ID：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.publisherId" type="number"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">创建时间：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.createTime" type="text" ng-pattern="/^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$/" placeholder="日期格式为：yyyy-MM-dd HH:mm:ss" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">更新时间：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="withdrawalsOrder.updateTime" type="text" ng-pattern="/^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$/" placeholder="日期格式为：yyyy-MM-dd HH:mm:ss" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
                    </div>
                    <footer class="panel-footer text-right">
                        <button ng-click="requestWithdrawalsOrderAdd(withdrawalsOrderAddForm.$valid);" type="submit" class="btn btn-success">保存</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>