<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12">
            <form name="capitalFlowExtendEditForm" class="form-horizontal form-validation">
                <input type="hidden" ng-model="capitalFlowExtend.id" />
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <strong>修改资金流水扩展信息</strong>
                    </div>
                    <div class="panel-body pb0">
                    </div>
                    <footer class="panel-footer text-right">
                        <button ng-click="requestCapitalFlowExtendEdit(capitalFlowExtendEditForm.$valid);" type="submit" class="btn btn-success">保存</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>